html{
    height: 100%;
    width: 100%;
}
#content{
    height: 100%;
    width: 100%;
}
.bigPic{
    width: 100%;
    height: 80vh;
    
}
.boxImage{
    width: 100%;
    position: relative;
}
#name-i-image{
    position: absolute;
    margin: 0;
    top: 20vh;
    left: 15%;
    color: white;
    font-size: 8vh;
    text-shadow: 0.3vh 0.3vh #000;
}
#detail-i-image{
    position: absolute;
    margin: 0;
    top: 35vh;
    left: 15%;
    width: 50%;
    color: white;
    background-color: rgba(80, 80, 80, 0.5);
    transition: 0.4s;
    border-radius: 1vh;
    padding: 2vh;
    font-size: 2vh;
}
#detail-i-image:hover{
    background-color: rgba(80, 80, 80, 0.8);
}