@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

.containerDetail{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20vh;
    color: white;
    flex: 1;
}

.detail > div > h2, .detailLeftInfo > h2{
    text-transform: uppercase;
    font-size: 4vh;
    font-family: 'Viga', sans-serif;
    margin-top: 0;
}

.detail > div > p, .detailLeftInfo > p{
    font-size: 2.6vh;
    font-family: 'Hind Siliguri', sans-serif;
    margin: 0;
}

.detailLeft{
    display: flex;
    flex-direction: column;
    flex: 2;
}

.detailListRow{
    display: flex;
    flex-direction: row;
}

.detailListRow > .detailList{
    width: 35%;
}

.detailRight{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.detailLeftInfo{
    margin-top: 10%;
}

.detailList{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-right: 5%;
}

.titleDetailList{
    text-align: center;
    margin-bottom: 40px;
}

.titleDetailList > h3{
    font-size: 3vh;
    text-transform: uppercase;
    margin: 0;
}

.detailListInfo{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.detailListInfo > div{
    border-bottom: 0.5px #bbb solid;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.detailListInfo > div > h3{
    margin: 0;
}

.detailListInfo > div > p:first-child{
    float: left;
    margin: 0;
}

.detailListInfo > div > p:last-child{
    float: right;
    margin: 0;
}

#titleDetail{
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}

#titleDetail > h1{
    text-transform: uppercase;
    font-size: 6vh;
    font-family: 'Viga', sans-serif;
}

#titleDetail, .aboutDetail{
    font-size: 2.6vh;
    font-family: 'Hind Siliguri', sans-serif;
}

#aboutDetail{
    display: flex;
    flex-direction: row;
    flex: 1;
}

#aboutDetail > div > p, .detailListInfo > div > p{
    margin: 0;
}

@media (max-width: 1000px) {
    #titleDetail > h1{
        text-align: center;
    }

    .containerDetail{
        width: 100%;
    }
}

@media (max-width: 550px) {
    #aboutDetail{
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .detailLeftInfo, .detailRight > div{
        margin-left: 10%;
        padding-right: 10%;
    }
}

@media (max-width: 430px) {
    .detailListRow{
        flex-direction: column;
    }

    .detailListRow > .detailList{
        width: 100%;
    }
}