.cardLaunch{
    background-color: rgb(40, 40, 40);
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 55vh;
    margin-bottom: 2%;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
}
.cardLaunch:hover{
    background-color: rgb(80, 80, 80);
}
.imagLaunch{
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 5% 0 5% 0;
}
.image-launch{
    height: 100%;
}
.boxCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.titleLuanch{
    width: 100%;
    height: 15%;
    background-color: transparent;
    color: white;
    font-size: 2vmin;
}
.text{
    margin: 0;
}
.yearLaunch{
    width: 100%;
    height: 10%;
    background-color: transparent;
    color: white;
    font-size: 2vmin;
}
.resultLaunch{
    width: 100%;
    height: 10%;
    background-color: transparent;
    font-size: 2vmin;
}
.fail {
    color: rgb(199, 65, 65);
}
.success{
    color:rgb(3, 129, 20)
}