@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 5vh;
    color: white;
    flex: 1;
}

.wrapper:first-child{
    margin-top: 20vh;
}

.column {
    width: 50%;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.column:nth-child(odd){
    flex: 2;
}

.column:nth-child(odd) > h1{
    text-transform: uppercase;
    font-size: 6vh;
    font-family: 'Viga', sans-serif;
}

.column:nth-child(odd) > p{
    font-size: 2.6vh;
    font-family: 'Hind Siliguri', sans-serif;
}

.column:nth-child(even){
    flex: 1;
    font-size: 2vh;
    border: white 1px solid;
}

.infoList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.infoList > div{
    padding-right: 50%;
}

/**
    Doll up pen a little
*/
body {
    background-color: #f2e9e4;
    padding-top: 5vh;
    line-height: 1.75em;
    color: #22223b;
    font-family: serif;
}

img {
    width: 80%;
    height: auto;
}

/*
.detailContainer{
  margin-top: 15vh;
  padding: 0px;
  margin-left: 20vw;
}

.wrapper {
    grid-gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr
}

.wrapperItem {
    color: white;
}

.wrapperItem:nth-child(even){
    max-width: 100px
}

.wrapperItem:nth-child(even) > img{
    width: 100%
}
*/
