#detail-b{
    background-image: url('../images//launch/bg2.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}
.space-b{
    width: 100%;
    height: 20vh;
}
#boxDetail-1{
    top: 20vh;
    width: 100%;
    left: 3vw;
    display: flex;
    flex-wrap: wrap;
}
#date{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#date > h1 {
    margin: 0;
    font-size: 2vw;
}
#im-detail{
    width: 35vw;
    display: flex;
    flex-direction: column;
}
.boxTextDetail{
    display: flex;
    width: 100%;
    align-items: center;
    color: white;
    margin-bottom: 1%;
}
.rightText{
    display: flex;
    width: 45%;
    margin-left: 5%;
    justify-content: flex-start;
}
.leftText{
    display: flex;
    justify-content: flex-end;
    width: 45%;
    margin-right: 5%;
}
#logoImage{
    width: 10vw;
}
#logoImage > img{
    width: 100%;
}
.detailText{
    margin: 0;
    font-size: 1.5vw;
}
.title{
    font-size: 2.5vw;
}
#detailLaunch{
    width: 100%;
    color: white;
}

#detailLaunch > h3, h1 {
    margin: 0;
}
.textDetail{
    display: flex;
}
.textDetail > h3 {
    width: 10%;
}