#content {
    height: 100%;
    width: 100%;
}
.boxImage {
    width: 100%;
    position: relative;
    background-image: url('../images/home/home.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-attachment: fixed;
    height: 100vh;
}
#name-i-image {
    width: 50vw;
    margin-left: 5vw;
    margin-bottom: 3vh;
}

#detail-i-image {
    margin-left: 5vw;
    width: 50%;
    color: white;
    background-color: rgba(40, 40, 40, 0.7);
    transition: 0.4s;
    border-radius: 1vh;
    padding: 2vh;
    font-size: 2vh;
}
#detail-i-image:hover {
    background-color: rgba(40, 40, 40, 0.9);
}

/*Histories*/
#boxHistories {
    background-image: url('../images//home/bg.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
}
#gradientColor {
    display: flex;
    align-self: flex-end;
    width: 100%;
    height: 75vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 15%,
        rgba(0, 0, 0, 0) 100%
    );
}
#box-h-text {
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    flex-direction: column;
    color: white;
    text-align: center;
}
#box-h-text > h1 {
    font-size: 8vw;
}
#box-h-text > p {
    font-size: 2.5vw;
}

/*Card*/
#boxCard {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    background-color: black;
}
#boxCard-C-G {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
#boxCardContent {
    overflow-y: scroll;
    width: 100%;
    padding: 5vh 1vh 5vh 1vh;
    display: flex;
    flex-direction: column;
}
#boxCardContent::-webkit-scrollbar {
    display: none;
}
#boxBardContent {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#gradientColor-U {
    z-index: 1;
    height: 5vh;
    position: absolute;
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 15%,
        rgba(0, 0, 0, 0) 100%
    );
}
#gradientColor-D {
    z-index: 1;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 5vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 15%,
        rgba(0, 0, 0, 0) 100%
    );
}

#endingLine {
    background-color: black;
    width: 100%;
    height: 20vh;
}
